
@media (max-width: 600px) {
  /* Styles for screens smaller than 768px */
  .body {
      font-size: 14px;
      
  }
  .container{
    
    display: flexbox;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    flex-wrap: wrap;
  }

}
header{

  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.3s;
  overflow-x: clip;
  
}
.logo{
  padding-top: 20px;
  padding-left: 46px;
  width: 170px;
  height: 49px;
  position: fixed;
}
.d-flex{
  position: fixed;
  /* padding-right: 300px; */
  gap: 22px;
}
.tbzoom{
  padding-top: 7px;
  /* margin-right: 200px; */
  font-size: 28px;
}
.user{
  padding-top: 4px;
  font-size: 34px;
}
.cart{
  padding-top: 4px;
  font-size: 34px;
}
.glob{
  padding-top: 4px;
  font-size: 31px; 
}
/* .down{ 
  padding-top: 4px;
  font-size: 24px; 
} 
*/
.container1{
  padding-left: 500px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(8, 161, 221);
  height: 30px;
  position: fixed;
}
.container2{
  
  padding-left: 50px;
  margin-top: 5px;
  padding-bottom: 2%;
  width: 100%;
  background-color:rgba(128, 128, 128, 0.24);
  height: 34px;
  position: fixed;
}
.p{
  padding-right: 600px;
}
.icons{
  font-size: 28px;
   padding-bottom: 5px;
  padding-right: 4px;
}


.btn{
  /* gap: 20px; */
  position: fixed;
    width: 99px;
  height: 30px;
border-radius: 24px;
border-color: white;
background-color: white;
color:skyblue;
}
.buy{
  padding-bottom: 20px;
  align-content: center;
  padding-left: 30%;
}

.text{
  
  font-size: medium;
  padding-bottom: 20px;
  color: lightskyblue;
}
.ra{
  
  color: white;
  font-size: medium;
  font-weight: bold;
  margin-top: 5px;
/* padding-left: 450px; */
position: fixed;

}

.container{
  width: 100%;
  background-color: rgba(128, 128, 128, 0.023);
  height: auto;
  position: fixed; 
  padding-top: 10px;
  padding-bottom: 20px;

}
.section{
  margin-top: 0 !important;
}
.containerm{
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}
.image1{
  display: flex;
  width: 190%;
  height: 370px;
  justify-content: center;
  padding-inline: -0;
  position: relative; 
  
}

.image{
  width: 50%;
  
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 35px;
  top:50%;
  line-height: -1;
  align-items: center;
  opacity: .75;
  color: #ffc107;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* main section 2nd */
.valu{
  font-weight: 500;
  text-align: center;
  font-style: italic;
  color: rgb(64, 165, 228);
}





/* footer */
footer{
  background-color:rgba(135, 207, 235, 0.644);
  display: flex;
  /* position: fixed; */
  width: 100%;
  overflow-x: hidden;

}
.bg-primary{
  background-color: rgba(15, 164, 198, 0);
}